sub,
sup {
    font-size: 75%;
    position: unset;
    line-height: unset;
}

.carousel-control-prev {
    left: -80px;
}

.carousel-control-next {
    right: -80px;
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

.navbar {
    margin-bottom: 15px;
    width: 100%;
}

.bg-light {
    background-color: #bb7711 !important;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 40px;
        padding-left: 40px;
        font-size: larger;
        letter-spacing: 0.25rem;
    }
}