sub,
sup {
    font-size: 75%;
    position: unset;
    line-height: unset;
}

.carousel-control-prev {
    left: -80px;
}

.carousel-control-next {
    right: -80px;
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

.navbar {
    margin-bottom: 15px;
    width: 100%;
}

.bg-light {
    background-color: #bb7711 !important;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
}

a {
    color: white;
    background-color: transparent;
}

a:hover {
    color: rgb(249 201 82); 
    text-decoration: underline; 
}


.breadcrumb {
    background-color: #bb7711;

}

.breadcrumb-item.active {
    color: rgba(0,0,0,.9);
     
}

.link{
    color: rgba(0,0,0,.5);;
  }

  .link:hover{
      color: rgba(0,0,0,.9);
      text-decoration: none;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    color: black;
}

/*for desktops*/
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 40px;
        padding-left: 40px;
        font-size: larger;
        letter-spacing: 0.25rem;
    }
}

/*----------------------------------------------*/
.carousel-item.active, .carousel-item .view {
    height: 50vh!important;
  }

  .carousel-item img {
    object-fit: cover;
    width:100%!important;
    height: 100% !important;
  }



/*for phones*/
@media (max-width: 600px){
    p {
        width: 150px;
        font-size: 8px;
        letter-spacing: 0.5px;
    }

    .h5, h5 {
        font-size: 12px;
        margin-bottom: 10px;
    }
}