sub,
sup {
    font-size: 75%;
    position: unset;
    line-height: unset;
}

.carousel-control-prev {
    left: -80px;
}

.carousel-control-next {
    right: -80px;
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

.navbar {
    margin-bottom: 15px;
    width: 100%;
}

.bg-light {
    background-color: #bb7711 !important;
}

.btn-outline-success {
    color: #ecca34;
    border-color: #ecca34;
}

.btn:hover {
    color: white;
    background-color: #ecca34 !important;
    border-color: #ecca34;
}