/* mobile first (Mobile & Desktop, unless I override inside the media query */
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 200px;
}

.img-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Desktop screens (Desktop only) */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1920px) {
    .img-container {
        height: unset;
        width: 800px;
        flex-direction: row;
    }

    img {
        max-width: 300px;
    }
}

